.topBackground {
  width: 100%;
  height: 380px;
  background-color: #794e47;
  display: flex;
}

.intro_contain {
  margin-left: 60px;
}

.lampImage {
  width: 80%;
}

.manImage {
  width: 320px;
  height: 270px;
  margin-right: 20px;
  margin-top: auto;
}

.intro_text {
  margin-top: 30px;
}

.intro_1 {
  color: white;
  font-size: 20px;
}

.intro_2 {
  color: white;
  font-size: 14px;
  margin-top: 30px;
}

.text_but {
  width: 160px;
  height: 45px;
  border-radius: 30px;
  background-color: #dbcec4;
  margin-top: 15px;
  transition:
    transform 0.1s ease,
    background-color 0.1s ease;
}
.text_but:active {
  transform: translateY(2px);
  filter: brightness(0.9);
}

.HomeInfo {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 30px;
}

.leftInfo {
}

.todaystudy {
  width: 155px;
  height: 120px;
  border: solid;
  border-radius: 20px;
  border-color: #d0d0d0;
  padding: 10px;
}

.weekstudy {
  width: 155px;
  height: 150px;
  border: solid;
  border-radius: 20px;
  border-color: #d0d0d0;
  padding: 10px;
  margin-top: 20px;
}

.rightInfo {
  margin-left: 30px;
}

.studygoal {
  width: 155px;
  height: 150px;
  border: solid;
  border-radius: 20px;
  border-color: #d0d0d0;
  padding: 10px;
}

.averagestudy {
  width: 155px;
  height: 120px;
  border: solid;
  border-radius: 20px;
  border-color: #d0d0d0;
  padding: 10px;
  margin-top: 20px;
}
