.carousel-container {
  width: 100%;
  /* overflow: hidden; */
  /* position: relative; */
  padding: 16px 0;
}

.carousel-wrapper {
  display: flex;
  gap: 16px;
  overflow-x: auto;
  scroll-snap-type: x mandatory;
  scroll-behavior: smooth;
  -webkit-overflow-scrolling: touch;
  padding: 0 32px; /* 좌우 여유 공간 추가 */

  /* 스크롤바 숨기기 */
  scrollbar-width: none;
}
.carousel-wrapper::-webkit-scrollbar {
  display: none;
}

.carousel-item {
  flex: 0 0 80%; /* 카드 너비를 부모보다 작게 */
  scroll-snap-align: center;
  box-sizing: border-box;
  margin-bottom: 10px;
}

.carousel-indicators {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  gap: 8px;
}

.indicator {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  border: 1px solid #999;
  background: rgba(255, 255, 255, 0.7);
  cursor: pointer;
}
.indicator.active {
  background: #111;
  border-color: #111;
}
